@model UpdateMenuTableDto
@{
    ViewData["Title"] = "UpdateMenuTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">
            Masa Güncelleme
            <a href="/MenuTable" style="float:right;" class="btn btn-outline-primary">Liste</a>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <input type="hidden" asp-for="MenuTableID" />
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Masa Bilgileri</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Masa Adı</label>
                                <input type="text" class="form-control" id="Name" asp-for="Name">
                            </div>
                            <div class="form-check">
                                <label>Durum</label><br />
                                <label class="form-radio-label">
                                    <input class="form-radio-input" type="radio" id="Status" asp-for="Status" value="" checked="">
                                    <span class="form-radio-sign">Aktif</span>
                                </label>
                                <label class="form-radio-label ml-3">
                                    <input class="form-radio-input" type="radio" id="Status" asp-for="Status" value="">
                                    <span class="form-radio-sign">Pasif</span>
                                </label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Güncelle</button>
                            <button class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





